<% layout('blog') -%>

<div class="main" id="posts">

  <section id="posts">

    <% _.chain(posts).take(10).map(function(post) { %> 

      <article>
        <a href="/blog/posts/<%= post.id %>/<%= post.slug %><%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>">
          <em class="infos"><%= moment(post.getDate("blog-post.date")).format("MMMM DD, YYYY") %> by <%= post.getText("blog-post.author") %></em>
          <h2><%= post.getStructuredText("blog-post.body").getTitle().text %></h2>
          
          <p><%= post.getStructuredText("blog-post.body").getFirstParagraph().text %></p>
          
          <div style="background-image: url( <%= post.getImageView("blog-post.body", "main").url %> ); background-size: cover"></div>

          <strong>Read more</strong>
        </a>
      </article>

    <% }); %>

  </section>

</div>