<% layout('main') -%>

<div class="main" id="selection">

  <section id="page-header">

    <div style="background-image: url( <%= selection.getImageView("selection.catcher_image", "main").url %> )">
      <div>
        <h1><%= selection.getText("selection.name") %></h1>

        <p>
          <%= selection.getText("selection.short_lede") %>
        </p>
      </div>
    </div>

  </section>

  <section id="page-body">
    
    <img src="<%= selection.getImageView("selection.image", "main").url %>">

    <div>
      <%- selection.getHtml("selection.description", ctx) %>

      <h4>
        <em><%= numeral(selection.getNumber('selection.price')).format('$ 0,0[.]00') %></em>
      </h4>
    </div>

  </section>

  <% if(products.length > 0) { %> 

    <section class="products">

      <h2>Part of this selection</h2> 

      <ul>
        <% _.chain(products).map(function(product) { %>
          <li data-category="<%= _.chain(product.tags).filter(function(t) { return _.chain(categories).keys().contains(t).value(); }).first().value() %>">
            <a href="/products/<%= product.id %>/<%= product.slug %><%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>">
              <img src="<%= product.getImageView('product.image', 'icon').url %>">
              <span><%= product.getText('product.name') %></span>
              <em><%= numeral(product.getNumber('product.price')).format('$ 0,0[.]00') %></em>
            </a>
          </li>
        <% }); %>
      </ul>
    </section>

  <% } %>

</div>